@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.site-layout-background {
    height: 80px;
}

.title {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
}

