@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.site-layout-background {
    height: 80px;
}

.title {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
}

#signup, #login {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #050829;
    float: right;
    margin: 10px;
    padding-top: 10px;
}

#signup:hover, #login:hover {
    text-decoration: underline;
}


